h1{
  text-align: center;
  font-family: Merriweather;
  color: black;
}
p{
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
//You will know when it is needed, but remember to play nicely
//mind just your qs or you may find yourself scrambled
//WTTMEILHNCIR
